body {
    font-family: 'epilogue';
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}
.container {
    max-width: 44%;
    text-align: left;
}
h1 {
    color: #1b316b;
}
.input-group {
    text-align: left;
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
}
input {
    width: 35%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.pic-mail{
    width: 20px;
    height: 20px;
}
.password-container {
    position: relative;
}
.toggle-password {
    position: absolute;
    right: 64%;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
}
.toggle-password img {
    width: 20px;
    height: 20px;
}
.button {
    width: 18%;
    padding: 10px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}
.button:hover {
    background: #002244;
}
.forgot-password {
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }
    h1 {
        font-size: 22px;
    }
    .button {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
    }
    h1 {
        font-size: 20px;
    }
    .button {
        font-size: 14px;
        padding: 8px;
        width: 49%;
    }
}
