body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #fefffe;
    display: flex;
    flex-direction: column;
}

/*Header et menus*/

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.header_blue_bar {
    display: flex;
    position: absolute;
    z-index: 0;
    background-color: #B4C4CF;
    width: 97.5%;
    height: 58px;
    border-radius: 12px;
    top: 6px;
}

.header_marine_bar {
    display: flex;
    width: 98.5%;
    z-index: 1;
    background-color: #004C6C;
    border-radius: 12px;
    padding: 10px 0;
    margin-top: 15px;
}

.header_marine_bar img {
    width: 167px;
    height: 40px;
    margin-left: 30px;
}

.header_marine_bar div {
    width: fit-content;
    height: fit-content;
}

.side-menu {
    display: flex;
    height: 1019px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px 0 rgba(92, 115, 160, 0.07);
    width: fit-content;
    z-index: 3;
    bottom: 0;
    padding: 30px 0 48px;
    background-color: white;
}

.side-menu-pages {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.onglet a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #637381;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 10px 45px;
    text-decoration: none;
}

.onglet {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.onglet img {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin: 5px 30px 0 0;
}

.menu-lign {
    border: 1px solid #DFE4EA;
    width: auto;
    margin: 26px 45px;
}

.onglet:hover {
    cursor: pointer;
    color: #004C6C;
    background-color: rgba(0, 76, 108, 0.05);
    border-right: 3px solid #004C6C;
    width: 297px;
}

.side-menu-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 45px;
}

.side-menu-profile-image {
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
}

.side-menu-profile-image img {
    width: 49px;
    height: 49px;
    border-radius: 40px;
}

.side-menu-profile-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

/*--------------------------------------COMPTEUR DE DEMANDES------------------------------------*/

.side-menu-counter {
    width: 38px;
    height: 34px;
    background-color: rgba(0, 76, 108, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-right: 45px;
}

.side-menu-counter p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #637381;
}






/*---------------------------------------JAVASCRIPT---------------------------------------------*/

.hidden-menu {
    display: none;
    flex-direction: column;
}

.hidden-menu div {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-menu div:hover {
    cursor: pointer;
}

.hidden-menu a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #637381;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 10px 55px;
    text-decoration: none;
}

.hidden-menu a:hover {
    color: #004C6C;
}

/*---------------------------------------CSS DU KIT UI------------------------------------------*/


/*Boutons validation*/
button {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.confirm,
.deny {
    width: fit-content;
    border: none;
    padding: 13px 28px;
    border-radius: 6px;
    height: 40px;
}

.confirm a,
.deny a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: white;
    text-decoration: none;
}

.deny {
    background-color: #E10E0E;
}

.confirm {
    background-color: #1A8245;
}


button:hover {
    cursor: pointer;
}

/*Boutons*/

.light-button {
    padding: 10px 20px 10px 20px;
    background-color: rgba(0, 76, 108, 0.08);
    border-radius: 7px;
}

.dark-button {
    background-color: #004C6C;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
}

.alt-dark-button {
    background-color: #004C6C;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}

.alt-dark-button a{
        color: white;
        text-decoration: none;
}

.details-button {
    background-color: rgba(0, 76, 108, 0.08);
    height: 40px;
}

.details-button,
.dark-button {
    padding: 13px 28px 13px 28px;
    border-radius: 6px;
}

.light-button,
.details-button,
.dark-button,
.alt-dark-button {
    width: fit-content;
    border: none;
}

.light-button a,
.details-button a {
    color: #475467;
}

.dark-button a {
    color: white;
}

.dark-button a,
.light-button a,
.details-button a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
}

/*Statuts de validation*/

.confirmed,
.pending,
.denied {
    width: fit-content;
    border-radius: 30px;
    padding: 3px 10px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
}

.confirmed {
    color: #1A8245;
    background-color: #DAF8E6;
}

.pending {
    color: #82791A;
    background-color: #F8F5DA;
}

.denied {
    color: #821A1D;
    background-color: #F8DADD;
}

/*Fonts*/

h1 {
    font-size: 28.85px;
    margin-top: 30px;
}

h2 {
    font-size: 24px;
    margin-top: 35px;
}

h1,
h2 {
    font-weight: 600;
    line-height: 24.57px;
    color: #1B3168;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24.57px;
    color: rgba(0, 76, 108, 0.78);
}


.petit_texte,
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24.57px;
    color: black;
}

p {
        margin: 25px 0;
}

.petit_texte a,
p a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24.57px;
    color: #004C6C;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.email {
    font-size: 16px;
    line-height: 24.57px;
    color: #004C6C;
    text-decoration: underline;
}

h1,
h2,
h3,
p,
p a,
.petit_texte,
.petit_texte a,
.email {
    font-family: "Epilogue", sans-serif;
}

.placeholder {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;
}

.break-details {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}

.label-input {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #111928;
    margin-bottom: 10px;
}

.label-select {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
}

.label-field {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #111928;
        font-weight: 500;
        margin: 0;
}

.label-fixed-value{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #6B7280;
        font-weight: 500;
        margin: 0;
}

.fixed-value{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #9CA3AF;
        font-weight: 400;
}

.select-option{
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: #344054;
}

.text-no-margin{
        margin: 0;
}

.job {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #637381;
    margin: 0;
}

.username {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #111928;
    margin: 0;
}

.number {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #004C6C;
    background-color: #F9FAFB;
    border: 2px solid #004C6C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number:hover,
.username,
.label-select {
    font-weight: 500;
}

.email,
.placeholder,
.break-details,
.label-input,
.job {
    font-weight: 400;
}

.number:hover {
    background-color: #004C6C;
    color: white;
    cursor: pointer;
}

/*Divs*/

select,
input {
    align-items: center;
}

select {
        min-width: 350px;
        padding: 12px 16px 12px 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

.select-input{
        background-image: url(images/chevron-en-bas.png);
        background-repeat: no-repeat;
        background-color: white;
        background-position: 95%;
        background-size: 16px 16px;
        min-width: 314px;
        padding: 12px 16px 12px 20px;
}

.date-input{
        background-image: url(images/calendrier.png);
        background-repeat: no-repeat;
        background-color: white;
        background-position: 5%;
        background-size: 16px 16px;
        min-width: 265px;
        margin-bottom: 20px;
        padding: 12px 0px 12px 45px;
        margin-top: 0;
}

textarea {
    min-height: 186px;
    min-width: 730px;
    padding: 20px 15px;
    height: fit-content;
}

.textarea-comment{
        margin: 10px 0 40px;
}

.form-request{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
}

select,
input,
textarea {
    display: flex;
    border-radius: 6px;
    width: fit-content;
    appearance: none;
    border: 1px solid #DFE4EA;
}

.email-input{
        background-image: url(images/mail.png);
        background-repeat: no-repeat;
        background-color: white;
        background-position: 5%;
        background-size: 16px 16px;
        min-width: 305px;
        margin-bottom: 20px;
        padding: 12px 0px 12px 45px;
}

.email-input::placeholder{
        background-position: 10%;
}

.password-input{
        background-image: url(images/eye.png);
        background-repeat: no-repeat;
        background-color: white;
        background-position: 95%;
        background-size: 16px 16px;
        min-width: 314px;
        margin-bottom: 20px;
        padding: 12px 16px 12px 20px;
}

.filterbox {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 10px 14px;
    min-width: 187px;
    min-height: 44px;
    background-color: white;
}

.defaultbox-input{
        min-width: 273px;
        margin-bottom: 20px;
        padding: 12px 16px 12px 20px;
        margin-top: 0;
}

.defaultbox {
    background-color: #F3F4F6;
    border-color: #F3F4F6;
}

.file-input{
        min-width: 273px;
        margin-bottom: 20px;
        padding: 12px 16px 12px 20px;
        margin-top: 0;
}

.stepbox {
    width: 204px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 7px;
    background-color: rgba(0, 76, 108, 0.05);
}

.stepbox p {
    display: flex;
    flex-wrap: wrap;
}

.line {
    max-width: 595px;
    border: 1px solid #004C6C;
}





/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------CORPS-----------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/

/*PLACEMENT DU CONTAINER :
<?php
    include "[nom du menu latéral]";
?>
<div class="History">
</div>
*/

.cont2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/*PLACEMENT DE CETTE BALISE:
JUSTE AVANT LE FOOTER, SEULEMENT METTRE UNE BALISE FERMEE
CAR ELLE EST DEJA OUVERTE DANS LE FICHIER DU MENU LATERAL :

</div>
<?php
    include "footer.php";
?>
*/



.title-with-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.large-filter {
    width: 530px;
}

.small-filter {
    width: 81px;
}

.medium-filter {
    width: 122px;
}

.medium-filter p {
    padding-left: 80px;
}

.type-filter {
    width: 159px;
}

label {
    display: flex;
    flex-wrap: nowrap;
    min-width: 170px;
}

/* CSS Pour tout ce qui est de la partie des filtres
Le CSS du dessous reste inchangĆ© (j'ai mĆŖme tout control-c control-v de github mdr)
*/
.filterBar {
    height: 109px;
    padding-top: 20px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #F9FAFB;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.filter {
    min-width: 0px;
    height: 30px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;

}

.filterMargin {
    margin-right: 2%;
}

.congeType {
    display: flex;
    flex-direction: column;
}

.list_conge {
    display: flex;
    flex-direction: row;
}

.info {
    padding-top: 16px;
    padding-right: 78px;
    padding-left: 34px;
    padding-bottom: 16px;
}

.containerFilter {
    border-radius: 12px;
    border-width: 1px;
    border: 1px solid #EAECF0;
    width: 100%;
    max-height: 100%;
    margin-top: 2%;
}

.infoButton {
    width: 184px;
    height: 72;
    border-bottom-width: 1px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;

}

.infoDetail {
    padding-top: 20px;
    padding-right: 24px;
    height: 100%;
    padding-left: 122px;
    margin-bottom: 5.4%;
}

.filterBorderBottom {
    border-bottom: 1px solid #EAECF0;
}

.History {
    margin-top: 1.5%;
    margin-left: 3%;
}

/*
CSS D'ABIDA
*/

/*---------------------------------------PAGE DE CONNEXION------------------------------------------*/

.wholeConnection {
    max-width: 44%;
    text-align: left;
}

.connexion {
    text-align: left;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input {
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 64%;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.forgot-password {
    margin-top: 10px;
}

.erreur {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    .buttonConnexion {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
    }

    h1 {
        font-size: 20px;
    }

    .buttonConnexion {
        font-size: 14px;
        padding: 8px;
        width: 49%;
    }
}

/*Page d'accueil*/
.wholeAccueil {
    max-width: 700px;
    font-family: 'Epilogue';
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 107%;
}

.steps-container{
        display: flex;
        flex-direction: column;
        justify-content: left;
}

.timeline {
    display: flex;
    align-items: center;
    position: relative;
}

.etape {
    border: 2px solid #004080;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    color: #004080;
}

.active {
    background-color: #1b316b;
    color: white;
}

.line {
    width: 250px;
    height: 2px;
    background-color: #1b316b;
}

.descriptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.description-box {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    width: 140px;
}

.bottomAccueil {
    margin-top: 40px;
}

.whole_forgot_pword{
    padding-top : 2%;
    padding-left: 3%;
}


@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        gap: 10px;
    }

    .line {
        width: 2px;
        height: 50px;
    }

    .descriptions {
        flex-direction: column;
        align-items: center;
    }

    .description-box {
        width: 90%;
        margin-bottom: 10px;
    }
}

/*------------------------------------PAGE DEMANDE CONGE-------------------------------------------*/
.date {
    display: flex;
    gap: 20px
}

.demande {
    padding: 30px 45px;
}