body{
        margin: auto 0;
        width: 100%;
        background-color: white;
}

.header{
        display: flex;
        width: 100%;
        flex-direction: column;
        position: fixed;
        height: 100px;
        align-items: center;
}

.header_blue_bar{
        display: flex;
        position: relative;
        z-index: 4;
        background-color: #B4C4CF;
        width: 97.5%;
        height: 58px;
        border-radius: 12px;
        top: 8px;
}

.header_marine_bar{
        display: flex;
        width: 98.5%;
        position: absolute;
        z-index: 5;
        background-color: #004C6C;
        border-radius: 12px;
        padding: 10px 0;
        top: 15px;
}

.header_marine_bar img{
        width: 167px;
        height: 40px;
        margin-left: 30px;
}

.header_marine_bar div{
        width: fit-content;
        height: fit-content;
}

.side-menu{
        position: absolute;
        display: flex;
        height: 84vh;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 10px 20px 0 rgba(92, 115, 160, 0.07);
        width: fit-content;
        z-index: 3;
        bottom: 0;
        padding: 30px 0 45px;
}

.onglet a{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #637381;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px 10px 45px;
}

.onglet{
        width: 300px;
}

.onglet a:hover{
        cursor: pointer;
        color: #004C6C;
        background-color: rgba(0, 76, 108, 0.05);
        border-right: 3px solid #004C6C;
}